{% extends '../../template/base.html' %} {% load staticfiles %} {% block content %}
<form class="content-box-large" method="post">
    {% csrf_token %}
    <div class="panel-heading">
        <div class="panel-title">Category</div>
    </div>
    <div class="panel-body">
        <div class="control-group">
            <label class="control-label">Category Name: </label>
            <input type="text" class="form-control" name="txt_category" value="" placeholder="Category Name" />
        </div>
        <div class="control-group">
            <input type="checkbox" name="txt_feature" value="1" />
            <label class="control-label">Feature</label>
        </div>
    </div>
    <div class="control-group col-xs-offset-11">
        <input type="submit" value="Create" class="btn btn-success" />
    </div>
</form>
<div class="content-box-large">
    <div class="panel-heading">
        <div class="panel-title">Category List</div>
        <div class="panel-options">
            <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
            <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Feature</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}